/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
  
}

/*
2. Remove default margin
*/
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

/*
Typographic tweaks!
3. Add accessible line-height
4. Improve text rendering
*/
body {
line-height: 1.5;
-webkit-font-smoothing: antialiased;
}

/*
5. Improve media defaults
*/
img, picture, video, canvas, svg {
display: block;
max-width: 100%;
}

/*
6. Remove built-in form typography styles
*/
input, button, textarea, select {
font: inherit;
}

/*
7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
overflow-wrap: break-word;
}
button{
border: none;
cursor: pointer;
}

/*
8. Create a root stacking context
*/
#root, #__next {
isolation: isolate;
}

/* list */
ul,ol {
list-style: none;
padding-left: 0;
} 


/* FOR HEADER */

body {
  font-family: Roboto;
}

.header-container {
  text-align: center;
  background-color: #F5FCFF;
  padding-bottom: 50px;
  padding-top: 100px;
}

.nav-container {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #ffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  width: 800px;
  padding: 30px;
}

.burger {
  display: none;
}

.line {
  height: 1px;
  width: 20px;
  border: #000 solid 2px;
  margin: 5px;
}

.nav-links {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 50%; 
  margin-right: 50px;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  text-decoration: none;
  font-size: 18px;
  color: #6f6f6f;
  transition: color 0.5s ease;
}

.nav-links a:hover {
  color: #5633cc;
}

.contact-button {
  padding: 10px 20px;
  font-size: 16px;
  color: #6f6f6f;
  border: 2px solid #6f6f6f;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.5s ease;
}

.contact-button:hover {
  background-color: #F5FCFF;
  color: #6f6f6f;
}


@media (max-width: 600px) {
  .nav-links {
    display: none;
  }

  .burger {
    display: block;
  }
}



/* FOR EDUCATION */

.education-container {
  margin-top: 130px;
  margin-bottom: 50px;
}

body {
  color: #333;
}

h2 {
  max-width: 250px;
  padding: 16px;
  font-size: 32px;
}

.hexa{
  border: 0px;
  float: left;
  text-align: center;
  height: 35px;
  width: 60px;
  font-size: 22px;
  background: #f0f0f0;
  color: #3c3c3c;
  position: relative;
  margin-top: 15px;
}

.hexa:before{
  content: ""; 
  position: absolute; 
  left: 0; 
  width: 0; 
  height: 0;
  border-bottom: 15px solid #f0f0f0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  top: -15px;
}

.hexa:after{
  content: ""; 
  position: absolute; 
  left: 0; 
  width: 0; 
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 15px solid #f0f0f0;
  bottom: -15px;
}

.timeline {
  position: relative;
  padding: 0;
  width: 100%;
  margin-top: 20px;
  list-style-type: none;
}

.timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: ' ';
  display: block;
  width: 2px;
  height: 100%;
  margin-left: -1px;
  background: rgb(213,213,213);
  z-index: 5;
}

.timeline li {
  padding: 2em 0;
}

.timeline .hexa{
  width: 16px;
  height: 10px;
  position: absolute;
  background: #6e45ff;
  z-index: 5;
  left: 0;
  right: 0;
  margin-left:auto;
  margin-right:auto;
  top: -30px;
  margin-top: 0;
}

.timeline .hexa:before {
  border-bottom: 4px solid #6e45ff;
  border-left-width: 8px;
  border-right-width: 8px;
  top: -4px;
}

.timeline .hexa:after {
  border-left-width: 8px;
  border-right-width: 8px;
  border-top: 4px solid #6e45ff;
  bottom: -4px;
}

.direction-l,
.direction-r {
  float: none;
  width: 100%;
  text-align: center;
}

.flag-wrapper {
  text-align: center;
  position: relative;
}

.flag {
  position: relative;
  display: inline;
  background: rgb(255,255,255);
  font-weight: 600;
  z-index: 15;
  padding: 6px 10px;
  text-align: left;
  border-radius: 5px;
}

.direction-l .flag:after,
.direction-r .flag:after {
  content: "";
  position: absolute;
  left: 50%;
  top: -15px;
  height: 0;
  width: 0;
  margin-left: -8px;
  border: solid transparent;
  border-bottom-color: rgb(255,255,255);
  border-width: 8px;
  pointer-events: none;
}

.direction-l .flag {
  box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
}

.direction-r .flag {
  box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
}

.time-wrapper {
  display: block;
  position: relative;
  margin: 4px 0 0 0;
  z-index: 14;
  line-height: 1em;
  vertical-align: middle;
  color: #fff;
}

.direction-l .time-wrapper {
  float: none;
}

.direction-r .time-wrapper {
  float: none;
}

.time {
  background: #6e45ff;
  display: inline-block;
  padding: 8px;
}

.desc {
  position: relative;
  margin: 1em 0 0 0;
  padding: 1em;
  background: rgb(254,254,254);
  -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.50);
  -moz-box-shadow: 0 0 1px rgba(0,0,0,0.50);
  box-shadow: 0 0 1px rgba(0,0,0,0.50);
  z-index: 15;
}

.direction-l .desc,
.direction-r .desc {
  position: relative;
  margin: 1em 1em 0 1em;
  padding: 1em;
  z-index: 15;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
}

@media(min-width: 768px){

  h2 {
    max-width: 350px;
  }

  .timeline {
    width: 660px;
    margin: 0 auto;
    margin-top: 20px;
  }

  .timeline li:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  
  .timeline .hexa {
    left: -28px;
    right: auto;
    top: 8px;
  }

  .timeline .direction-l .hexa {
    left: auto;
    right: -28px;
  }

  .direction-l {
    position: relative;
    width: 310px;
    float: left;
    text-align: left;
  }

  .direction-r {
    position: relative;
    width: 310px;
    float: right;
    text-align: left;
  }

  .flag-wrapper {
    display: inline-block;
  }
  
  .flag {
    font-size: 18px;
  }

  .direction-l .flag:after {
    left: auto;
    right: -16px;
    top: 50%;
    margin-top: -8px;
    border: solid transparent;
    border-left-color: rgb(254,254,254);
    border-width: 8px;
  }

  .direction-r .flag:after {
    top: 50%;
    margin-top: -8px;
    border: solid transparent;
    border-right-color: rgb(254,254,254);
    border-width: 8px;
    left: -8px;
  }

  .time-wrapper {
    display: inline;
    vertical-align: middle;
    margin: 0;
  }

  .direction-l .time-wrapper {
    float: left;
  }

  .direction-r .time-wrapper {
    float: right;
  }

  .time {
    padding: 5px 10px;
  }

  .direction-r .desc {
    margin: 1em 0 0 0.75em;
  }

}

@media(min-width: 992px){

  .timeline {
    width: 800px;
    margin: 0 auto;
    margin-top: 20px;
  }

  .timeline .direction-l .hexa {
    left: auto;
    right: -34.5px;
  }

  .direction-l {
    position: relative;
    width: 380px;
    float: left;
    text-align: left;
  }

  .direction-r {
    position: relative;
    width: 380px;
    float: right;
    text-align: left;
  }
}


/* FOR TABLE */

.table-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 50px;
  margin-bottom: 90px;
}

.th-date {
  min-width: 102px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
}

table, th, td {
  border: 1px solid #ddd;
  text-align: left;
}

th, td {
  padding: 12px;
}

th {
  color: #ffff;
  background-color: #6e45ff;
}


@media (max-width: 525px) {
  .table-container{
    padding: 0 20px;
  }
}

@media (max-width: 429px) {
  th, td {
    padding: 8px;
  }
  
  th, td * {
    font-size: 13px;
  }
}


/* FOR FOOTER */

footer {
  background-color: #F5FCFF;
  padding: 20px;
  padding-bottom: 0;
  text-align: center;
}

.footer-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1920px;
  margin-top: 20px;
  padding: 0 50px;
  padding-bottom: 20px;
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 540px;
  margin: 0 auto;
  margin-bottom: 35px;
}

.footer-nav a {
  font-style: normal;
  font-size: 18px;
  line-height: 150%;
  color: #000000;
  flex: none;
  order: 3;
  flex-grow: 0;
  text-decoration: none;
  transition: color 0.5s ease;
}

.footer-nav a:hover {
  color: #5633cc;
}

.social-media {
  margin-bottom: 30px;
}

.social-media a {
  margin: 0 10px;
  font-size: 1.5em;
  color: #000;
}

.footer-line {
  height: 1px;
  border: 1px solid black;
}

.footer-credit {
  margin-top: 20px;
  font-size: 0.9em;
  color: #333;
  display: flex;
  text-align: left;
}

.footer-credit span {
  color: pink;
}


@media (min-width: 768px) {
  .footer-container {
      flex-direction: row;
      justify-content: space-between;
  }
}

@media (max-width: 767px) {
  .footer-nav {
      margin-bottom: 20px;
  }

  .footer-nav a {
      margin-bottom: 10px;
      font-size: 14px;
  }

  .social-media {
      margin-bottom: 20px;
  }

  .footer-nav {
    margin-bottom: 20px;
  }
}

@media (max-width: 490px) {
  .footer-nav a {
      margin-bottom: 10px;
      font-size: 10px;
  }
  
  .social-media a {
    font-size: 1em;
  }

  .social-media {
    margin-bottom: 10px;
  }

  .footer-nav {
    margin-bottom: 10px;
  }
}